<%- include('partials/header') %>
<%- include('partials/main-nav') %>

<main class="container">
    <h1><%= title %> </h1>
    <div class="mt-4 p-5 bg-light  rounded">
        <div><img src="Assets/images/19DCT3-090_1.JPG" class="rounded float-start" id="profile" alt="..."></div>
        <div class="mt-4 p-5 bg-light">
            <p>My name is Andy Bandela</p>
            <p>I'm a student at Centennial College studying Software Engineering: Artificial Intelligence.</p>
            <p>I have a Diploma in Information Technology from Damelin College in South Africa and a Bachelor's degree in Software Engineering from Cape Peninsula University of Technology in South Africa.</p>
            <p>I have always been facinated by technology and the ability to create something from scratch without the need of using a lot of external resources but a good computer and internet.</p>
            <p>You can <a href="Assets/document/Andy Bandela CV.pdf" download="Andy_Bandela_CV.pdf" id="butn"><button type="button" class="btn btn-secondary" >Click here</button></a> to download my resume/CV</p>
        </div>
    </div>
</main>

<%- include('partials/bottom-nav') %> 
<%- include('partials/footer') %> 