<%- include('../partials/header') %>
<%- include('../partials/main-nav') %>

<div class="container">
    <div class="mt-4 p-5 bg-light  rounded">
        <form action="/contact-list/update/<%= contactDetail._id %>" method="post">
          <div class="mb-3">
            <label for="contactName" class="form-label">Name</label>
            <input type="text" class="form-control" id="contactName" name="contactName" value="<%= contactDetail.name %>" placeholder="John">
          </div>
          <div class="mb-3">
            <label for="contactNumber" class="form-label">Contact Number</label>
            <input type="text" class="form-control" id="contactNumber" name="contactNumber" value="<%= contactDetail.number %>" placeholder="+1 234 567 8901">
          </div>
          <div class="mb-3">
            <label for="contactEMail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="contactEMail" name="contactEMail" value="<%= contactDetail.email %>" placeholder="name@example.com">
          </div>
          <br>
          <br>
          <div class="mb-3">
            <button type="submit" class="btn btn-primary">Update Contact</button>
            <a href="/contact-list"><button type="button" class="btn btn-warning"> Cancel</button></a>
          </div>
          
        </form>
        
      </div>
</div>

<%- include('../partials/bottom-nav') %>
<%- include('../partials/footer') %>